<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="img/avatar.png" style="height: 20px;" alt="">
        Jobbook
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Mini Examples
          </a>
          <ul class="dropdown-menu">
            <li><a href="#todos">TodoExample</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#login">Login</a></li>
        <li><a href="#register">Sign up</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<div id="top-shadow"></div>


<div id="content" class="container"></div>

<div id="footer-shadow"></div>
<div id="footer">
  <div class="container">
    <div class="pull-left">
      <p class="text-muted">
        Copyright &copy; 2014 MRW Neundorf - Naxmeify
      </p>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#imprint">Impressum</a></li>
      <li><a href="#kontakt">Kontakt</a></li>
      <li><a href="#credits">Credits</a></li>
    </ul>
  </div>
</div>
